<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kz.firstproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AnimationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Module56" />
        <activity android:name=".KotlinActivity" />
        <activity
            android:name=".CalendarActivity"
            android:theme="@style/MyTheme" />
        <activity android:name=".MainActivity3" />
        <activity android:name=".MainActivity2" />
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation">
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>